/* 全局 */
body {
    background: #f3f3f3;
    min-width: 1200px;
    /*margin: 0 auto;*/
}


/* 概览图 */
.overview {
    background: #e6f4ff;
    padding: 32px 0px;
}

.overview-wrapper {
    width: 70%;
    margin: 0 auto;
}

.title {
    font-size: 200%;
}

.tip {
    margin-top: 12px;
    color: #626675;
}

.overview-img {
    display: flex;
    justify-content: space-between;
}

.overview-img img {
    flex-basis: 32%;
    width: 0;
    margin-top: 16px;
    /*margin-bottom: 24px;*/
    border-radius: 8px;
}

/* 中间部分 */

.main-content {
    width: 70%;
    /*background: rgba(255, 255, 255, 0.9);*/
    margin: 0 auto;
}

.main-content .item {
    background-color: #fff;
    border: solid 1px #e5e5e5;
    box-shadow: 0 2px 3px -2px #d5d5d5;
    padding: 32px 16px;
    margin-top: 12px;
}

.main-content .overall-intro {
    display: flex;
}

.main-content .overall-intro .overall-intro-text {
    margin-right: 18px;
}

/* 介绍统计 */
.overall-static {
    display: flex;
    justify-content: flex-end;
    font-size: 12px;
    margin-bottom: 24px;
}

.overall-static .overall-static-item {
    margin-left: 8px;
}


/* 不是最后一子元素 */
.main-content .overall-intro .overall-static .overall-static-item:not(:last-child) {
    border-right: 1px solid #eee;
    padding-right: 8px;
}

.main-content .overall-intro .overall-static .overall-static-item .name {
    color: #519cea;
    font-weight: 500;
}

.main-content .overall-intro .overall-static .overall-static-item .num {
    color: #888;
}

/* 介绍文字描述 */
.main-content .overall-desc {
    padding: 20px 25px;
    text-indent: 4ch;
}


.main-content p {
    font-size: 16px;
    line-height: 28px;
}

.overall-desc-wrapper {
    margin-top: 25px;
}

/* 介绍图片 */
.main-content .overall-intro .overall-intro-image {
    flex-basis: 25%;
    flex-shrink: 0;
    width: 0px;
}

/* 信息表格 */
.row {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    padding: 12px;
}

.row-item {
    display: flex;
    vertical-align: baseline;
    /* 划分flex的比例 */
    flex-basis: 40%;
}

.row-name {
    font-weight: bold;
    flex-basis: 30%;
    margin: 0;
    padding: 0;
    border: 0;
}

.row-data {
    color: #747474;
    flex-basis: 80%;
}

/* 基本信息 */
.main-content .title-wrapper {
    /* 使用一个宽的边线展示出蓝色方块 */
    border-left: 10px solid #003eb3;
    margin: 0px -16px;
    padding: 0px 16px;
    display: flex;
    align-items: center;
}

.main-content .title-wrapper .title {
    font-size: 150%;
}

.main-content .line {
    flex-grow: 1;
    background: #eee;
    height: 1px;
    margin-left: 12px;
}

.main-content .base-intro .content-wrapper {
    margin-top: 24px;
    padding: 0px 10px;
}

/* 配置每行灰色线 */
.main-content .base-intro .content-wrapper .row {
    display: flex;
    font-size: 6px;
    padding: 12px 0px;
    border-bottom: 1px dotted #ccc;
}

.main-content .base-intro .content-wrapper .row .col {
    flex-basis: 50%;
    display: flex;
}

.main-content .base-intro .content-wrapper .row .col .row-name {
    color: #999;
    font-weight: bold;
    width: 80px;
    flex-basis: 15%;
}
.main-content .base-intro .content-wrapper .row .col .row-data {
    color: #000;
}

/* 演员信息 */